<h1><%= @list.title %></h1>
<% if @cards.empty? %>
    <p>List empty:</p>
<% else %>
    <% @cards.each do |card| %>
        <%= card.body%><br>
    <% end %>
<% end %>

<h3><%= link_to "Add Item", new_list_card_path(@list) %></h3>